<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Catalyst</string>
	<key>ordering</key>
	<array>
		<string>0F685111-8EEF-471A-9181-5D1D863B2BF3</string>
		<string>8DB983E2-1D0F-405E-B389-4C20DCDD5E9B</string>
		<string>DD0C104C-5079-4205-894B-3A911F75CD54</string>
		<string>3852995B-F386-4456-B472-8CEFA1F7CAA6</string>
		<string>26307447-6FAC-47C1-BCB3-26DC994C0CA8</string>
	</array>
	<key>uuid</key>
	<string>7FD006D5-585B-4B3D-8217-F4DA22084CAA</string>
</dict>
</plist>
