    <form action="/server/do_edit/[% server.name %]" method="post">
      <fieldset>
	<legend>
	  <a href="/server/list">Server List</a>
	  server.name
	</legend>
	<span class="editableFields">
	  
	  <label for="[% field %]">
	    <span class="field">
	      [% editableValues.$index %]:
	    </span>
	  </label>
	  <div class="is_admin">
	      <input 
		type="text" 
		name="[% field %]" 
		value="[% server.$field %]" 
		size="30" />
	      <br />
	    </div>

	</span>
	
	<span class="is_admin">
	  <label for="submit"><span class="field"></span></label>
	  <input type="submit" value="Save Changes" /><br />
	</span>
	
	<div class="roFields">
	  <p style="clear:left;">
	  <label for="[% field %]">
	    <span class="field">[% roValues.$index %]:</span>
	  </label>
	</div>

	
      </fieldset>
    </form>

