<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>DBIx-Class</string>
	<key>ordering</key>
	<array>
		<string>CEB24DDB-351F-49D7-89B8-C988E942F91B</string>
	</array>
	<key>uuid</key>
	<string>2833B754-00B3-4E4A-BA76-14BF30E1ECCF</string>
</dict>
</plist>
