<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$c-&gt;stash-&gt;{${1:template}}</string>
	<key>name</key>
	<string>stash</string>
	<key>scope</key>
	<string>source.perl</string>
	<key>tabTrigger</key>
	<string>stash</string>
	<key>uuid</key>
	<string>0F685111-8EEF-471A-9181-5D1D863B2BF3</string>
</dict>
</plist>
